<div
  id="search-component"
  automation-id="search-component"
  pw-automation-id="search-component"
>
  <label
    for="search-box"
    automation-id="search-label"
    pw-automation-id="search-label"
    >Hero Search</label
  >
  <input
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
    automation-id="search-input"
    pw-automation-id="search-input"
  />

  <ul
    class="search-result"
    automation-id="search-result"
    pw-automation-id="search-result"
  >
    <li *ngFor="let hero of heroes$ | async">
      <a
        routerLink="/detail/{{ hero.id }}"
        automation-id="search-link"
        pw-automation-id="search-link"
      >
        {{ hero.name }}
      </a>
    </li>
  </ul>
</div>
